/*Cover picture*/
.description{
    position: relative;
}

.coverPicture{
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: center 25%;
}

.textDescription{
    position: absolute;
    top: 180px;
    left: 30px;
    padding: 20px;
 }

 .secondaryDescription{
    display: flex;
    align-items: center;
    width: 100%;
 }

 .sidePictureContainer{
    width: 30%;
 }

 .sidePicture{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 25%;
 }

 .textSecondaryDescriptionContainer{
    max-width: 50%;
    margin-left: 100px;
 }

.hide{
    visibility: hidden;
}

/*Resposive*/
@media(max-width:1014px){
   .description{
      margin-top: 30px;
  }

  .secondaryDescription{
   display: flex;
   flex-direction: column-reverse;
   }

   .sidePictureContainer{
      width: 100%;
   }

   .textSecondaryDescriptionContainer{
      max-width: 100%;
      margin: 0;
   }
  
   .sidePicture{
      width: 100%;
      height: 400px;
      object-fit: cover;
      object-position: center 35%;
      margin-top: 30px;
   }
}